@using WayFarer.Controllers
@model UserLoginViewModel
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .containerLogin {
            width: 300px;
            margin: 0 auto;
            padding-top: 100px;
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0 20px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            width: 100%;
        }
        .register-link {
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<div class="containerLogin">
    <h2>Login</h2>
    <form asp-action="Login" asp-controller="User" method="post">
        <!-- Prikaz grešaka ako postoje -->
        <div asp-validation-summary="All" class="text-danger"></div>

        <label for="username">Username:</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>

        <label for="password">Password:</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <button type="submit">Login</button>

        <div class="register-link">
            <p>Don't have an account? <a asp-controller="User" asp-action="Register">Register here</a></p>
        </div>
    </form>
</div>

</body>
