.containerLogin {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}
